ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 600px;
    background: linear-gradient(45deg, greenyellow, dodgerblue);
    border: 1px solid #555;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li {
    text-align: center;
    border-bottom: 1px solid #555;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  li a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(37, 37, 37);
    color: white;
  }
  

  .MyDiv1, MyDiv2{

    display: inline-block;
    justify-content: space-evenly;
    
    }
    .MyImg{
      height:390px;
      margin-left: 60%;
      margin-bottom: 90%;
    }
.user{
  height:90px;
}


  